.footer {
  background: transparent !important;
  text-align: center;
}

.layout {
  background: #f0f0f0 !important;
  background-image: url('images/background.png') !important;
  background-size: 10% !important;
  min-height: 100vh !important;
}

.logo {
  color: #ffffff;
  float: left;
  font-size: 16px;
  font-weight: 600;
  height: 64px;
  line-height: 60px;
  text-align: center;
  width: 125px;
}

.logo:hover {
  color: #ffffff;
}

.menu {
  text-align: right !important;
}
