.brand {
  float: left;
  font-size: 18px;
  font-weight: 600;
  height: 64px;
  width: 128px;
}

.content {
  display: flex;
  padding-top: 64px;
}

.footer {
  background: transparent !important;
  text-align: center;
  a {
    font-weight: 500;
  }
}

.footer,
.header {
  a {
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  a,
  a:hover {
    color: #ffffff;
  }
  a.brand:hover {
    color: #cccccc;
  }
}

.header {
  background: #222222 !important;
  position: fixed;
  width: 100%;
  z-index: 1;
  :global {
    .ant-menu {
      background: none !important;
      border-bottom: none !important;
    }
  }
}

.layout {
  background: #101010 !important;
  min-height: 100vh !important;
}

.menu {
  float: right;
  list-style: none;
  margin-bottom: -1em;
  padding-inline-start: 0px;
  a {
    padding: 23px 24px;
  }
  li {
    display: inline-block;
    margin-bottom: 0px;
    text-align: center;
    transition: background 0.3s;
  }
  li:first-child {
    display: none;
  }
  li:hover {
    background: #303030;
  }
}

@media screen and (max-width: 576px) {
  .brand {
    display: none;
  }

  .menu {
    display: flex;
    float: unset;
    justify-content: center;
    li {
      background: #222222;
    }
    li:first-child {
      display: inline-block;
    }
  }
}

:global {
  b {
    font-weight: 500 !important;
  }
}
