.footer {
  background: transparent !important;
  text-align: center;
}

.layout {
  background: #f0f0f0 !important;
  background-image: url('images/background.png') !important;
  background-size: 10% !important;
  min-height: 100vh !important;
}

.logo {
  color: #ffffff;
  float: left;
  font-size: 16px;
  font-weight: 600;
  height: 64px;
  line-height: 60px;
  text-align: center;
  width: 125px;
}

.logo:hover {
  color: #ffffff;
}

.menu {
  text-align: right !important;
}

@media screen and (max-width: 576px) {
  .logo {
    display: none;
  }

  .menu {
    text-align: center !important;
  }
}

:global {
  .ant-menu-overflow {
    display: block !important;
  }
  .ant-card.ant-card-bordered {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
}
