.addToBoardContent {
  padding: 16px 24px;
}

.addToBoardPlaceholderImage {
  float: left;
  padding-right: 24px;
}

.addToBoardPreviewMessage {
  @extend .addToBoardContent;
  background: #f0f0f0 !important;
  background-image: url('images/background.png') !important;
  background-size: 10% !important;
  border: 1px solid #f0f0f0;
}

.addToBoardGoogleFormIframe {
  border-top: 1px;
  border-top-color: #f0f0f0;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  height: 675px;
  margin-bottom: -6px;
  overflow-x: hidden;
  width: 100%;
}

.addToBoardPopconfirmMessage {
  max-width: 220px;
}

.addToBoardSteps {
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  padding: 36px 24px 24px !important;
}

.boardActions {
  left: calc(50% - 174px);
  margin-bottom: -35px;
  position: relative;
  top: -20px;
  width: 350px;
}

.boardActionButton {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 14px !important;
  font-weight: 600 !important;
  margin: 0px 12px;
  width: 150px;
}

.boardHeader {
  background: #187bcd;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  color: #ffffff;
  height: 192px;
  padding: 24px;
  text-align: center;
}

.boardInformationActions {
  width: 65px;
}

.boardTitle {
  font-size: 36px;
  font-weight: 600;
  line-height: 128px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boardMessageAuthor {
  color: #999999;
  text-align: right;
}

.boardMessageContent {
  margin-bottom: 12px;
  word-wrap: break-word;
}

.boardMessageContent img {
  max-width: 100%;
  max-height: 100%;
}

.boardMessageCard {
  margin: 16px 0px !important;
}

.spinner {
  margin-top: 48px;
  text-align: center;
}

.submitToFormList {
  margin: 5px 0px;
  padding-inline-start: 20px;
}

:global {
  .ant-modal {
    top: 76px !important;
  }
}
