.addToBoardContent {
  padding: 16px 24px;
}

.addToBoardPlaceholderImage {
  float: left;
  margin-right: 24px;
}

.addToBoardPreviewMessage {
  @extend .addToBoardContent;
  background: #f0f0f0 !important;
  background-image: url('images/background.png') !important;
  background-size: 10% !important;
  border: 1px solid #f0f0f0;
}

.addToBoardGoogleFormIframe {
  border-top: 1px;
  border-top-color: #f0f0f0;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  height: 675px;
  margin-bottom: -6px;
  overflow-x: hidden;
  width: 100%;
}

.addToBoardPopconfirmMessage {
  max-width: 220px;
}

.addToBoardSteps {
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  padding: 36px 24px 24px !important;
}

.boardActionButtonsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: -36px;
  position: relative;
  top: -21px;
}

.boardActionButton {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.125), 0px 3px 6px rgba(0, 0, 0, 0.125) !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  margin: 0px 8px;
  width: 150px;
}

.boardHeader {
  background: #187bcd;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  color: #ffffff;
  height: 248px;
  padding: 24px;
  text-align: center;
}

.boardHeaderActionButton {
  background: transparent !important;
  border: 1px solid #dddddd !important;
  color: #dddddd !important;
}

.boardHeaderActionButton:hover {
  border-color: #fafafa !important;
  color: #fafafa !important;
}

.boardInformationActions {
  width: 65px;
}

.boardTitle {
  font-size: 48px;
  font-weight: 600;
  line-height: 162px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boardMessageAuthor {
  color: #999999;
  text-align: right;
}

.boardMessageContent {
  margin-bottom: 12px;
  word-wrap: break-word;
}

.boardMessageContent img,
.boardMessageSlide img {
  max-width: 100%;
  max-height: 100%;
}

.boardMessageCard {
  margin: 18px 0px !important;
}

.boardMessageSlide {
  animation: fadeIn 0.475s;
  color: #fafafa;
  font-size: 24px;
  margin: 12px 24px;
  padding: 0px 25%;
  -webkit-animation: fadeIn 0.475s;
  -moz-animation: fadeIn 0.475s;
  -o-animation: fadeIn 0.475s;
  -ms-animation: fadeIn 0.475s;
}

.boardMessageSlide {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fafafa;
  }
}

.slideshowActionButton {
  background: none !important;
  color: #fafafa !important;
}

.slideshowJumpToSlideContainer {
  color: #fafafa;
  text-align: center;
}

.slideshowJumpToSlideContainer a {
  color: #fafafa;
}

.slideshowJumpToSlideInput {
  background: transparent !important;
  color: #fafafa !important;
  width: 50px !important;
}

.slideshowStepButton {
  @extend .slideshowActionButton;
  width: 100%;
}

.slideshowStepButton:disabled {
  border-color: #333333 !important;
  color: #333333 !important;
}

.slideshowTitle {
  color: #fafafa;
  margin-bottom: 0px;
}

.spinner {
  margin-top: 48px;
  text-align: center;
}

.submitToFormList {
  margin: 5px 0px;
  padding-inline-start: 20px;
}

@media screen and (max-width: 1200px) {
  .boardMessageSlide {
    padding: 0px 15%;
  }
}

@media screen and (max-width: 992px) {
  .boardMessageSlide {
    padding: 0px 10%;
  }
}

@media screen and (max-width: 576px) {
  .boardMessageSlide {
    padding: 0px 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:global {
  .ant-modal {
    top: 76px !important;
  }
  .slideshowDrawer {
    .ant-drawer-content {
      background: hsla(0, 0%, 0%, 0.95) !important;
    }
    .ant-drawer-footer {
      border-top: 1px solid hsla(0, 100%, 100%, 0.125) !important;
    }
    .ant-drawer-header {
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.125) !important;
    }
    .ant-drawer-header,
    .ant-drawer-footer {
      background: none !important;
    }
  }
}
