body[data-theme='light'] {
  .subTitle,
  .title {
    color: #333333;
  }
}

.createButton {
  border-radius: 8px !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  height: 64px !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) !important;
  span {
    line-height: 36px;
    padding: 12px 0px 14px 0px;
  }
}

.contentContainer {
  align-self: center;
  margin: 0px auto !important;
  padding: 32px;
  text-align: center;
}

.contentWrapper {
  display: flex;
  position: absolute;
  height: calc(100% - 64px - 70px);
  width: 100%;
}

.kudoPepega {
  animation: tilt 6s ease-in-out infinite;
  margin-bottom: 16px;
  padding: 32px;
}

.subTitle {
  font-weight: 300 !important;
  margin-top: 0px !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.125);
}

.title {
  font-weight: 400 !important;
  margin-bottom: 8px !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.125);
}

@keyframes tilt {
  0% {
    transform: rotate(-7.25deg);
  }
  50% {
    transform: rotate(7.25deg);
  }
  100% {
    transform: rotate(-7.25deg);
  }
}

@media screen and (max-width: 768px) {
  .contentWrapper {
    height: calc(100% - 64px - 102px);
  }
}
