.backTop {
  bottom: 25px;
  height: 50px;
  opacity: 0.625;
  right: 25px;
  width: 50px;
  :global {
    .ant-back-top-content {
      border-radius: 25px;
      height: 50px;
      width: 50px;
    }
    .ant-back-top-icon {
      font-size: 26px;
      line-height: 50px;
    }
  }
}
