.kudoPepega {
  animation: spin 3s linear infinite;
  padding: 45px 30px;
}

.loader {
  align-self: center;
  animation: loading 3s linear infinite;
  border: 3px solid #333333;
  border-radius: 50%;
  margin: 0px auto !important;
}

.loadingContainer {
  display: flex;
  position: absolute;
  height: calc(100% - 128px);
  width: 100%;
}

@keyframes loading {
  0% {
    border: 3px solid rgba(23, 125, 220, 0.125);
  }
  50% {
    border: 3px solid #177ddc;
  }
  100% {
    border: 3px solid rgba(23, 125, 220, 0.125);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
