.form {
  :global {
    .ant-form-item:nth-last-child(2) {
      margin-bottom: 32px;
    }
  }
}

.helpSection {
  ol {
    padding-inline-start: 8px;
  }
  li {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 992px) {
  .helpSection {
    margin-bottom: 24px !important;
  }
}
