.container {
  margin: 24px 48px 0px !important;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 24px 24px 0px !important;
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin: 12px 12px 0px !important;
  }
}
