.kudoPepega {
  animation: spin 3s linear infinite;
  border: 3px solid #333333;
  border-radius: 50%;
  padding: 45px 30px;
}

.loadingContainer {
  display: flex;
  position: absolute;
  height: calc(100% - 128px);
  width: 100%;
  :global {
    .ant-image {
      align-self: center;
      margin: 0px auto !important;
    }
  }
}

@keyframes spin {
  0% {
    border: 3px solid rgba(23, 125, 220, 0.125);
    transform: rotate(0deg);
  }
  50% {
    border: 3px solid #177ddc;
    transform: rotate(180deg);
  }
  100% {
    border: 3px solid rgba(23, 125, 220, 0.125);
    transform: rotate(360deg);
  }
}
